# Demo 1

<table><tr>
    <td><img src="image/esi-sba.png" width="100" height="100"></td>
    <td><img src="image/mongo.png" width="100" height="100"></td>
    </tr></table>

### Lancer un conteneur de MONGO
   
! docker-compose up –d

#### installer pymongo afin de se connecter au cluster mongodb

! pip install pymongo

In [1]:
from pymongo import MongoClient

### We are then free to add useful methods as needed. These methods are wrappers for core pymongo collection methods including the following:
* find()
* find_one()
* insert_one()
* insert_many()
* update_one()
* update_many()
* delete_one()
* delete_many()

### Créer un Mongo Client afin d'exécuter nos requêtes sur MONGODB Server

In [2]:
client = MongoClient('mongodb://localhost:27017/')

###  Afficher les différentes  databases

In [3]:
client.list_database_names()

['admin', 'config', 'db1', 'local']

### Créer une "database variable" pour travailler avec la BDD "db1"

In [4]:
db = client["db1"]

### Récupérer les collections de la BDD "db1"

In [5]:
db.list_collection_names()

['users']

###  Insérer un document dans la collection "users"

In [6]:
db["users"].insert_one({
                  "name": "Ali", 
                  "login": "ali89", 
                  "age": 29,
                  "address": {
                               "street": "12 gambitta", 
                               "city": "sba"
                             },
                  "job" : ['web', 'BDD']
                    })

###  #Docs

In [7]:
db["users"].count_documents({})

15

In [8]:
db["users"].find_one()

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'),
 'name': 'Ali',
 'login': 'ali89',
 'age': 31,
 'address': {'street': '12 gambitta', 'city': 'sba'},
 'job': ['web', 'BDD']}

### insertion multiple

In [9]:
userlist = [
  {"name":"Ahmed","login": "Ahmed77f", "age": 28,"address":{"street":"10 maconi","city": "sba"},"job" : ["web", "PHP"]},
  {"name":"said","login": "saidyy", "age": 25,"address":{"city": "oran"},"job" : ["web", "JAVA","PHP"]}, 
  {"name":"amine","login": "amine77","age": 18},
  {"name":"said","login": "ss.ki", "age": 23,"address":{"city": "sba"},"job" : ["python", "JAVA","PHP"]}, 
  
]

db["users"].insert_many(userlist)

db["users"].count_documents({})

19

In [10]:
db["users"].find()

### Afficher tous les docs

In [11]:
# Display all records
for user in db["users"].find():
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 31, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f46'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f47'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f48'), 'name': 'amine', 'login': 'amine77'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4b'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4c'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4d'), 'name': 'amine', 'login': 'amine77'}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('6342984bebee9cf2afc26aa0'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('6342984bebee9cf2afc26aa1'), 'name': 'amine', 'login': 'amine77', 'age': 18}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb61'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb62'), 'name': 'amine', 'login': 'amine77', 'age': 18}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

### Update

In [12]:
db["users"].update_one( 
                        {'name': 'Ali'},
                        { "$inc" : { "age" : 1 } } 
                   )

### Update multiple

In [13]:
db["users"].update_many( 
                        {'age': {'$lte':18}},
                        { '$set' : { 'job' : [] } } 
                   )

### .find( filtre , projection )

In [14]:
for user in db["users"].find({}, {"_id": 0,"name": 1,"age": 1}):
  print(user,'\n')

{'name': 'Ali', 'age': 32}

{'name': 'Ahmed', 'age': 18}

{'name': 'said', 'age': 25}

{'name': 'amine'}

{'name': 'Ali', 'age': 29}

{'name': 'Ahmed', 'age': 18}

{'name': 'said', 'age': 25}

{'name': 'amine'}

{'name': 'Ali', 'age': 29}

{'name': 'Ali', 'age': 29}

{'name': 'Ahmed', 'age': 28}

{'name': 'said', 'age': 25}

{'name': 'amine', 'age': 18}

{'name': 'said', 'age': 23}

{'name': 'Ali', 'age': 29}

{'name': 'Ahmed', 'age': 28}

{'name': 'said', 'age': 25}

{'name': 'amine', 'age': 18}

{'name': 'said', 'age': 23}

### Recherche exacte

In [15]:
for user in db["users"].find( {'login' : "ali89"} , {'name' : 1, 'age' : 1}):
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'age': 32}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'age': 29}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'age': 29}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'age': 29}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'age': 29}

### Filtrage dans une imbrication

In [16]:
for user in db["users"].find( { 'address.city' : 'sba'}):
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f46'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4b'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

### Filtrage avec opération 
* \\$gt, \\$gte, \\$lt, \\$lte, \\$ne, \\$in, \\$nin, \\$or, \\$and, \\$regex, \\$exists, \\$type, \\$size, …

In [17]:
for user in db["users"].find( { 'age' :{ '$gt' : 20 }},  {"_id": 0,"name": 1,"age": 1} ):
  print(user,'\n')

{'name': 'Ali', 'age': 32}

{'name': 'said', 'age': 25}

{'name': 'Ali', 'age': 29}

{'name': 'said', 'age': 25}

{'name': 'Ali', 'age': 29}

{'name': 'Ali', 'age': 29}

{'name': 'Ahmed', 'age': 28}

{'name': 'said', 'age': 25}

{'name': 'said', 'age': 23}

{'name': 'Ali', 'age': 29}

{'name': 'Ahmed', 'age': 28}

{'name': 'said', 'age': 25}

{'name': 'said', 'age': 23}

In [18]:
for user in db["users"].find( { 'login' :{ '$regex' : '^a', '$options':'i'}},  {"_id": 0,"name": 1,"login": 1} ):
  print(user,'\n')

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ahmed', 'login': 'Ahmed77f'}

{'name': 'amine', 'login': 'amine77'}

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ahmed', 'login': 'Ahmed77f'}

{'name': 'amine', 'login': 'amine77'}

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ahmed', 'login': 'Ahmed77f'}

{'name': 'amine', 'login': 'amine77'}

{'name': 'Ali', 'login': 'ali89'}

{'name': 'Ahmed', 'login': 'Ahmed77f'}

{'name': 'amine', 'login': 'amine77'}

### Filtrage sur un tableau

In [19]:
for user in db["users"].find( { 'job' : 'BDD'} ): #dans la liste
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

In [20]:
for user in db["users"].find( {'job.1' : 'BDD'} ): #2éme place de la liste
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

In [21]:
for user in db["users"].find( { 'job' : ['web', 'BDD']} ):  #recherche exacte
  print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

### SORT,  DISTINCT, COUNT

In [22]:
for user in db["users"].find().sort("name"):
    print(user,'\n')

{'_id': ObjectId('633b4d65685a5cb1f0ca3f46'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4b'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 18, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': []}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': ['web', 'PHP']}

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': ['web', 'BDD']}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f48'), 'name': 'amine', 'login': 'amine77'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4d'), 'name': 'amine', 'login': 'amine77'}

{'_id': ObjectId('6342984bebee9cf2afc26aa1'), 'name': 'amine', 'login': 'amine77', 'age': 18, 'job': []}

{'_id': ObjectId('6342985635b9ef87bbd3cb62'), 'name': 'amine', 'login': 'amine77', 'age': 18, 'job': []}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f47'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4c'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('6342984bebee9cf2afc26aa0'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb61'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': ['web', 'JAVA', 'PHP']}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': ['python', 'JAVA', 'PHP']}

In [23]:
for user in db["users"].distinct( 'address.city'):
    print(user,'\n')

oran

sba

In [24]:
print('# docs in Users collection =',db["users"].count_documents({}),'\n')

print('# user whose age is 18=',db["users"].count_documents({ 'age' : 18 }))

# docs in Users collection = 19

# user whose age is 18= 4

### Pipeline: aggregate

In [25]:
result=db["users"].aggregate([  
                              {'$match' : {"address.city" : 'sba'}},
                              {'$project' : {"login" : 1, "age" : 1}}, 
                              {'$sort' : {"age" : 1, "login" : -1}}
                             ]);

for user in result:
    print(user,'\n')

{'_id': ObjectId('633b4d65685a5cb1f0ca3f46'), 'login': 'Ahmed77f', 'age': 18}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4b'), 'login': 'Ahmed77f', 'age': 18}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'login': 'ss.ki', 'age': 23}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'login': 'ss.ki', 'age': 23}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'login': 'Ahmed77f', 'age': 28}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'login': 'Ahmed77f', 'age': 28}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'login': 'ali89', 'age': 29}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'login': 'ali89', 'age': 29}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'login': 'ali89', 'age': 29}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'login': 'ali89', 'age': 29}

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'login': 'ali89', 'age': 32}

### Pipeline: \\$Unwind

In [26]:
result=db["users"].aggregate([  
                              {'$unwind' : "$job"}
                            ]);

for user in result:
    print(user,'\n')

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('633b4d64685a5cb1f0ca3f45'), 'name': 'Ali', 'login': 'ali89', 'age': 32, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'BDD'}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f47'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'web'}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f47'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'JAVA'}

{'_id': ObjectId('633b4d65685a5cb1f0ca3f47'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'PHP'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4a'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'BDD'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4c'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'web'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4c'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'JAVA'}

{'_id': ObjectId('633b4f19685a5cb1f0ca3f4c'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'PHP'}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('633b5086685a5cb1f0ca3f4f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'BDD'}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('63429831ebee9cf2afc26a9e'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'BDD'}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('6342984bebee9cf2afc26a9f'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'PHP'}

{'_id': ObjectId('6342984bebee9cf2afc26aa0'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'web'}

{'_id': ObjectId('6342984bebee9cf2afc26aa0'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'JAVA'}

{'_id': ObjectId('6342984bebee9cf2afc26aa0'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'PHP'}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'python'}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'JAVA'}

{'_id': ObjectId('6342984bebee9cf2afc26aa2'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'PHP'}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('6342985635b9ef87bbd3cb5f'), 'name': 'Ali', 'login': 'ali89', 'age': 29, 'address': {'street': '12 gambitta', 'city': 'sba'}, 'job': 'BDD'}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'web'}

{'_id': ObjectId('6342985635b9ef87bbd3cb60'), 'name': 'Ahmed', 'login': 'Ahmed77f', 'age': 28, 'address': {'street': '10 maconi', 'city': 'sba'}, 'job': 'PHP'}

{'_id': ObjectId('6342985635b9ef87bbd3cb61'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'web'}

{'_id': ObjectId('6342985635b9ef87bbd3cb61'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'JAVA'}

{'_id': ObjectId('6342985635b9ef87bbd3cb61'), 'name': 'said', 'login': 'saidyy', 'age': 25, 'address': {'city': 'oran'}, 'job': 'PHP'}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'python'}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'JAVA'}

{'_id': ObjectId('6342985635b9ef87bbd3cb63'), 'name': 'said', 'login': 'ss.ki', 'age': 23, 'address': {'city': 'sba'}, 'job': 'PHP'}

### Pipeline: \\$GROUP

In [27]:
result=db["users"].aggregate([  
                              {'$group':{"_id" : "$age", "res": {'$sum' : 1}}}

                            ]);

for user in result:
    print(user,'\n')

{'_id': 28, 'res': 2}

{'_id': None, 'res': 2}

{'_id': 18, 'res': 4}

{'_id': 29, 'res': 4}

{'_id': 32, 'res': 1}

{'_id': 23, 'res': 2}

{'_id': 25, 'res': 4}

In [28]:
result=db["users"].aggregate([  
                              {'$match': {"address.city" : "sba"}},
                              {'$unwind' : "$job"},
                              {'$group' : {"_id" : "$job", "moy": {'$avg': "$age"}} },
                              {'$match' : {"moy" : {'$gt' : 10}} },
                              {'$sort' : { "moy" : -1} } 

                            ]);

for user in result:
    print(user,'\n')

{'_id': 'BDD', 'moy': 29.6}

{'_id': 'web', 'moy': 29.142857142857142}

{'_id': 'PHP', 'moy': 25.5}

{'_id': 'python', 'moy': 23.0}

{'_id': 'JAVA', 'moy': 23.0}

#### Vider une collection

In [29]:
db["users"].drop()